<h1><%= @url.link %></h1>


<li><%= @url.id %> -<%= @url.link %>- <a href="/<%= @url.hash_code %>"><%= @url.hash_code %></a></li>

</br>
<a href="/<%= @url.hash_code %>/preview">Preview</a>
</br>
<a href="/urls/<%= @url.id %>/edit">Edit</a>
</br>
<a href="/">Home</a>
